.group-grid {
  display: grid;
  gap: 50px 50px;
  grid-template-columns: auto auto auto;
  --grid-auto-flow: column;
  --width: 1000px;
  --grid-template-columns: max-content
}

.group {
  --width: 500px;
}

.group h3 {
  text-align: center;
}

.ranking {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.matches {
  margin-left: auto;
  margin-right: auto;
}

.player {
  text-align: right;
}

.centered-td {
  text-align: center;
}

.balance-col {
  text-align: center;
  width: 80px;
}

.match-col {
  text-align: center;
  vertical-align: bottom;
  width: 130px;
}
