p {
  color: red;  
}

.plist {
  column-width: 400px;
  column-fill: auto;
  height: 400px;
  overflow-x: auto;
}

.pcolumn1 {
  float: left;
  text-align: left;
  width: 45%;
  height: 23px;
}

.pcolumn1 input {
  width: 100%;
}

.pcolumn2 {
  float: left;
  text-align: right;
  width: 20%;
  height: 23px;
}

.pcolumn3 {
  float: left;
  text-align: left;
  width: 30%;
  height: 23px;
  padding-left: 5%;
}

.rounds {
  white-space: nowrap;
  overflow-x: auto;
}

.pairing {
  display: inline-block;
  vertical-align: top;
  width: 600px;
}

.pairing h3 {
  text-align: center;
}

.column1 {
  float: left;
  text-align: right;
  width: 42%;
  height: 23px;
}

.column2 {
  float: left;
  text-align: center;
  width: 16%;
  height: 23px;
}

.column2 input {
  width: 35px;
}

.column3 {
  float: left;
  text-align: left;
  width: 42%;
  height: 23px;
}

.further {
  clear: left;
  padding-top: 5px;
}

.further::after {
  content: "";
  clear: both;
  display: table;
}

.fcolumn1 {
  float: left;
  text-align: right;
  width: 35%;
  padding-right: 5%;
}

.fcolumn2 {
  float: left;
  text-align: left;
  width: 60%;
}

